<div class="content">
    <p-table #dt [value]="preRegister" [responsive]="true" [globalFilterFields]="['username','name']">
        <ng-template pTemplate="caption">
            <div style="text-align: left">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder=" Pesquisar ID ou Nome" (input)="dt.filterGlobal($event.target.value, 'contains')"
                style="max-width:250px !important; padding: 0 !important; margin: 0 0 0 5px !important;">
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Patrocinador</th>
                <th>Ação</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pre>
            <tr>
                <td>{{pre.username}}</td>
                <td>{{pre.name}}</td>
                <td>{{pre.email}}</td>
                <td>{{pre.patrocinador}}</td>
                <td>
                    <button [disabled]="!enableActivate" (click)="ativeReseller(pre)">Fazer essa conexão</button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>



