<div class="content">
  <h3>Utilize o Google Authenticator para acessar os serviços da YouHub</h3>
  <div class="contemcards">
    <div class="card">
      <div class="content">
        <div class="text"><b>Baixe</b> o aplicativo <b>Google Authenticator</b> pelo <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=pt_BR"
            target="_blank">Google Play</a> ou <a href="https://itunes.apple.com/br/app/google-authenticator/id388497605?mt=8"
            target="_blank">App Store</a> no seu celuar e o utilize para <b>ler o QRCode abaixo</b>: </div>

        <div class="qrCode" *ngIf="qrCode">
          <qrcode [qrdata]="qrCode" [size]="230" [level]="'M'"></qrcode>
        </div>

        <div *ngIf="!qrCode">
          Error
        </div>
      </div>
    </div>
  </div>
</div>