<div class="contentPage">
  <div class="container">

    <div class="boxContent">
      <div class="contentIcon">
        <div class="centerIcon">
          <i class="fa fa-globe" aria-hidden="true"></i>
        </div>
      </div>
      <div class="cnt already">
        <div class="tlt">
          <span>Para você que já trabalha</span>
          <span class="destaque"> como freelancer</span>
        </div>
        <div class="subTlt">Temos soluções que irão ajudar a faturar ainda mais.</div>
        <div class="btn" routerLink="/online-work-already">Saiba mais</div>
      </div>
    </div>

    <div class="boxContent">
      <div class="contentIcon">
        <div class="centerIcon">
          <i class="fa fa-globe" aria-hidden="true"></i>
        </div>
      </div>
      <div class="cnt notAlready">
        <div class="tlt">
          <span>Para você que</span>
          <span class="destaque"> nunca trabalhou online</span>
        </div>
        <div class="subTlt">Chegou a hora de aprender como trabalhar online.</div>
        <div class="btn" routerLink="/online-work-not-already">Saiba mais</div>
      </div>
    </div>

  </div>
</div>