<!-- quando for em mobile -->
<div class="menu-class">
  <button type="text" class="mobile" (click)="display = !display" pButton icon="fas fa-bars"></button>
  <p-sidebar [(visible)]="display">
    <div class="contentLogo" [routerLink]="['/']">
      <img src="global/img/logo_text.png">
    </div><br>
    <p-panelMenu [model]="items" [style]="{'width':'250px'}" [multiple]="false"></p-panelMenu>
  </p-sidebar>

  <!-- quando for web -->
  <div class="container-fluid row col web">
    <div class="contentLogo" [routerLink]="['/']">
      <img src="global/img/logo_text.png">
    </div>
    <p-panelMenu [model]="items" [style]="{'width':'250px'}" [multiple]="false"></p-panelMenu>
  </div>
</div>