<div class="cntCheckout">

  <div class="cntSteps">
    <div class="contentLogo">
      <img src="global/img/Hyper-Jobs-gray.svg">
    </div>
    <div class="contentStatus">
      <div class="itemShop" *ngFor="let step of steps; let idx = index">
        <div class="graph">
          <div class="trace" [class.active]="currentStep >= (idx + 1)"></div>
          <div class="circle" [class.active]="currentStep >= (idx + 1) || idx === 0" (click)="onStepClick(step)">
            <i class="fa" [ngClass]="step?.icon"></i>
          </div>
          <div class="trace" [class.active]="currentStep > (idx + 1)"></div>
        </div>
        <div class="text">{{step?.text}}</div>
      </div>
    </div>
  </div>

  <div class="cntBodySteps">
    <div class="container">
      <div class="conditionStep" [ngSwitch]="currentStep">
        <!-- CARRINHO -->
        <div class="lineStep cart" *ngSwitchCase="1">
          Carrinho
        </div>
        <!-- LOGIN -->
        <div class="lineStep login" *ngSwitchCase="2">
          <div class="cntLogin">
            <app-hyper-store-box-login-register (onNext)="currentStep = 3"></app-hyper-store-box-login-register>
          </div>
        </div>
        <!-- ENDERECO -->
        <div class="lineStep address" *ngSwitchCase="3">
          <app-hyper-store-address-delivery (onAddressSelected)="onAddressSelected($event)"></app-hyper-store-address-delivery>
          <div class="cntBtnNext" *ngIf="objUserData?.id">
            <button type="button" class="btnNext" (click)="currentStep = 4">Próximo</button>
          </div>
        </div>
        <!-- ENTREGA -->
        <div class="lineStep shipping" *ngSwitchCase="4">
          <app-hyper-store-list-shipping [zipcode]="addressSelected.zipcode" (onShippingSelected)="onShippingSelected($event)"></app-hyper-store-list-shipping>
          <div class="cntBtnNext" *ngIf="objUserData?.id">
            <button type="button" class="btnNext" (click)="currentStep = 5; mountCheckoutParameters();">Próximo</button>
          </div>
        </div>
        <!-- PAGAMENTO -->
        <div class="lineStep payment" *ngSwitchCase="5">
          <div class="cntPay">
            <div class="cntResume">
              <div class="title">Itens do pedido</div>
              <div class="cntItem" *ngFor="let item of listItens">
                <div class="itm">
                  <span>{{item?.title}}</span>

                  <span class="pts" *ngIf="item.points_value > 0 && objUserData.id_youhub != null">(Ganhe <b>{{item.points_value}}</b>
                    pontos)</span>
                </div>
                <ul *ngFor="let opt of item.features">
                  <li>{{opt}}</li>
                </ul>
                <ul>
                  <li [innerHtml]="item?.description  | truncate : 500 : '...' "></li>
                </ul>
              </div>
              <div class="cntTotalPoints" *ngIf="objUserData.id_youhub != null">
                <span class="tlt">Total de Pontos:</span>
                <span class="val">{{totalPoints}}</span>
              </div>
            </div>
            <div class="cntCheckout">
              <lib-components-checkout [checkout_parameter]="checkout_parameter" (onCheckoutSuccess)="onCheckoutSuccess($event)"></lib-components-checkout>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>