<section class="footer">
    <div class="contentMenu">
        <div class="container">
            <div class="contentLinks">
                <div class="colLink col1">
                    <div class="help">
                        <div class="txt">
                            <a href="https://youhub.com.br" target="_blank">Quem Somos</a>
                        </div>
                        <div class="tlt">Podemos te AJUDAR?</div>
                        <div class="txt">
                            <p>suporte@youhub.com.br</p>
                            <div>Horário de atendimento: </div>
                            <div>Segunda à Sexta: 8:00 às 12:00</div>
                            <div>e das 13:00 às 18:00h – exceto feriados.</div>
                        </div>
                    </div>
                </div>
                <div class="colLink col2">
                    
                </div>

                <div class="colLink col4">
                    <div class="text">Siga YouHub. Todo dia uma nova oportunidade.</div>
                    <div class="contentSocial">
                        <span class="icon">
                            <a href="https://www.instagram.com/youhub.oficial/" target="_blank">
                                <i class="fa fa-fw fa-fw fa-instagram" aria-hidden="true"></i>
                            </a>
                        </span>
                        <span class="icon">
                            <a href="https://www.facebook.com/pg/youhub.oficial/" target="_blank">
                                <i class="fa fa-fw fa-facebook" aria-hidden="true"></i>
                            </a>
                        </span>
                        <span class="icon">
                            <a href="https://www.youtube.com/channel/UCodrPzyqtRjmN9-UL_tJjHg?view_as=subscriber" target="_blank">
                                <i class="fa fa-fw fa-youtube" aria-hidden="true"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="contentHyper">
                <div class="copyright">© Todos os direitos reservado YouHub - {{currentYear}}</div>
                <div class="logo">
                    <img src="global/img/Hyper-Jobs-gray.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>