<div class="contentPage">
  <div class="container">
    <div class="contentBody">

      <div class="cntBox">
        <div class="cntIcon">
          <div class="icon diff">
            <i class="fa fa-globe" aria-hidden="true"></i>
          </div>
        </div>
        <div class="cntTopText">
          <div class="tlt">Para você que já trabalha como freelancer</div>
          <div class="sutTlt">Temos 4 soluçoes que irão te ajudar a faturar ainda mais </div>
          <div class="btn" (click)="onAnchorClick()">Veja abaixo</div>
        </div>
      </div>

      <div class="cntBox">
        <div class="cntIcon">
          <div class="icon">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
          </div>
        </div>
        <div class="cntText">
          <div class="tlt">Conquiste mais clientes</div>
          <div class="text">Tudo que os outros portais de freelancer e vagas oferecem , nós também oferecemos, mas com mais liberdade e sem
            cobrança de taxa de intermediação. São milhares de ofertas de trabalho de clientes do Brasil e do exterior.</div>
        </div>
      </div>

      <div class="cntBox">
        <div class="cntIcon">
          <div class="icon">
            <i class="fa fa-users" aria-hidden="true"></i>
          </div>
        </div>
        <div class="cntText">
          <div class="tlt">Fature mais com seus clientes atuais.</div>
          <div class="text">Seu tempo é limitado, certo ? Então você pode faturar mais vendendo outros serviços que você não executa, mas outros
            freelas ou empresas sim, para sua carteira atual de clientes. Por exemplo, se você tem cliente que já comprou
            seu trabalho de design, ele pode se interessar por um dos mais de 200 serviços e oferecemos. Você ganha de 10%
            a 50% de comissão.</div>
        </div>
      </div>

      <div class="cntBox">
        <div class="cntIcon">
          <div class="icon">
            <i class="fa fa-usd" aria-hidden="true"></i>
          </div>
        </div>
        <div class="cntText">
          <div class="tlt">Descubra nossa moeda virtual</div>
          <div class="text">Uma nova fonte de renda para você realizar no seu tempo livre. Realize as tarefas online que disponibilizamos e
            acumule moedas virtuais que podem ser trocadas por viagens, produtos, serviços, etc.</div>
        </div>
      </div>

      <div class="cntBox">
        <div class="cntIcon">
          <div class="icon">
            <i class="fa fa-book" aria-hidden="true"></i>
          </div>
        </div>
        <div class="cntText">
          <div class="tlt">Faça parte de nosso catálogo de serviços.</div>
          <div class="text">Temos centenas de associados de venda de serviços porta-a-porta em todo o Brasil. Ele irão vender seus serviços
            e não produtos de beleza ou emagrecimento. Seus serviços podem estar em nosso catálogo. </div>
        </div>
      </div>

    </div>
  </div>
  <div id="contentPlan" class="contentFooter">
    <div class="container">
      <div class="contentBTN">
        <span class="btn" [routerLink]="'/checkout-plan/' + planSelected?.id">Quero me CADASTRAR</span>
      </div>
    </div>

  </div>
</div>