<div class="container-fluid text-center justify-content-center">
  <div class="row">
    <div class="col-12">
      <h1 class="jumbotron">
        Ativação por Financiamento
      </h1>
    </div>
  </div>
  <div class="row mx-5">

    <div class="col-12 col-sm-6 py-3 px-2 text-center item">
      <div class="container">
        <div class="col-12">
          Código
        </div>
        <div class="col-12">
          {{associate?.username}}
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 py-3 px-2 text-center item">
      <div class="container">
        <div class="col-12">
          Nome
        </div>
        <div class="col-12">
          {{associate?.name}}
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-4 py-3 px-2 text-center item">
      <div class="container">
        <div class="col-12">
          Valor Total
        </div>
        <div class="col-12">
          {{financing?.value_buy|conversion:'BRL':false}}
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 py-3 px-2 text-center item">
      <div class="container">
        <div class="col-12">
          Valor Financiado
        </div>
        <div class="col-12">
          {{financing?.value_financed|conversion:'BRL':false}}
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 py-3 px-2 text-center item">
      <div class="container">
        <div class="col-12">
          Valor de Entrada
        </div>
        <div class="col-12">
          {{financing?.value_init|conversion:'BRL':false}}
        </div>
      </div>
    </div>

    <!-- <div class="col-12 py-3">
      <p-table [columns]="cols" [value]="financing?.plots_obj" *ngIf="financing?.plots_obj?.length">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns" [ngSwitch]="col.field">
              <span *ngSwitchCase="'value'">
                {{rowData[col.field]|conversion:'BRL':false}}
              </span>
              <span *ngSwitchCase="'paymentDate'">
                {{rowData[col.field]|date:'dd/MM/yyyy'}}
              </span>
              <span *ngSwitchCase="'plot'">
                {{rowData[col.field]}}ª
              </span>
              <span *ngSwitchDefault>
                {{rowData[col.field]}}
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div> -->

  </div>

  <div class="row justify-content-center py-3">
    <button type="button" class="btn btn-success" (click)="toActivateAlert()" >Ativar</button>
    <div class="px-3 mx-3"></div>
    <button type="button" class="btn btn-danger" (click)="back();" >Voltar</button>
  </div>

</div>
