<div class="content">
  <div class="checkout">
    <div class="subtitle">
      Escolha o melhor plano para você.
    </div>

    <div *ngFor="let plan of plans">
      <div *ngIf="plan" (click)="selectPlan(plan)">
        <hr class=" w-100">
        <div class="Justifydiv">
          <div style="align-self: center; width: 20px;">
            <input type="radio" [checked]="plan.selected">
          </div>
          <div style="flex: 1; padding: 0 0 20px 0; display: flex; justify-content: center;">
            <div style="max-width: 340px; flex-grow: 1;">
              <h4 class="fsize-18 title-dblue">Plano: {{plan.name}}</h4>
              <div *ngIf="plan.extra_info === '' || plan.extra_info === null">
                <div class="fsize-14 py-2" [innerHTML]="plan.description"></div>
                <div class="fsize-14 py-2" [innerHTML]="plan.benefits"></div>
              </div>
              <div *ngIf="plan.extra_info !== '' && plan.extra_info !== null">
                <div class="fsize-14" [innerHTML]="plan.extra_info.pack.description"></div>
              </div>
            </div>
          </div>
          <div *ngIf="plan.extra_info !== '' && plan.extra_info !== null" style="flex: 1; display: flex; justify-content: center; flex-wrap: wrap">
            <div style="max-width: 340px; align-items: center;">
              <div class="min-height-28" *ngIf="plan.value" style="display: flex;">
                <div class="fsize-14 min-height-28" style="min-width: 280px; display: flex; align-items: center;">Valor
                  a ser pago</div>
                <span class="price" style="min-width: 120px;" [innerHtml]="plan.value | conversion : plan.initials"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="credit Justifydiv" *ngIf="plan_selected.value != 0">
      <div class="payment">Escolha uma Forma de Pagamento</div>
      <div class="methodPayment">

        <!-- Ted -->
        <div *ngIf="paymentTed" style="display: flex; flex-direction: column; align-items: center;">
          <hr class="w-100">
          <div style="text-align: center;">
            <div style="display:flex; justify-content: center; align-items: center;">
              <div class="fsize-20 title-dblue center">Pagar com TED (transferência Bancária)</div>
            </div>
            <div class="button">
              <div class="valor">Valor:
                <span class="price" [innerHtml]="amountPlan | conversion : 'BRL'"></span>
              </div>
              <a class="btn blue bit" (click)="sendPay('transfer_bank');">Pagar via TED</a>
            </div>
          </div>

          <div style=" flex: 1; max-width: 450px;">
            <div class="title">Como Funciona?</div>
            <div class="text">Ao clicar no botão sua solicitação é enviada.</div>
            <div class="text">Você faz a solicitação dos dados bancários enviando um e-mail para <span class="mail">financeiro@youhub.com.br</span>.</div>
            <div class="text">Você receberá as instruções em seu e-mail.</div>
            <div class="text">Depois de confirmado o pagamento, seu acesso será liberado.</div>
          </div>

          <div *ngIf="transfer_bank?.length > 0">
            Solicitações de Pagamento por TED
            <p-table styleClass="classetable" [responsive]="true" [value]="transfer_bank">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width:7em">Data</th>
                  <th style="width:6em">Valor</th>
                  <th style="width:6em">Status</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-grad let-rowData>
                <tr>
                  <td>{{grad.created}}</td>
                  <td>{{grad.adesao}}</td>
                  <td>{{stage[grad.stage]}}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>

        <!-- eduzz -->
        <div *ngIf="paymentEduzz" style="display: flex; flex-direction: column; align-items: center;">
          <hr class="w-100">
          <div>
            <div style="text-align: center;">
              <div style="display:flex; justify-content: center; align-items: center; flex-wrap: wrap;">
                <div style="min-width: 172px; font-size: 20px" class="title-dblue center">Pagar com eduzz em até
                  {{eduzz_plots}} vezes</div>
                <!-- <img src="assets/img/eduzz.png" style="height: 30px; border-radius: 5px; border: 1px solid #000;"> -->
              </div>
              <div class="button">
                <div class="valor">Valor:
                  <span class="price" [innerHtml]="this.plan_selected.value | conversion : 'BRL'"></span>
                  <br>
                  <small style="font-size: 13px">{{eduzz_plots}}x <span [innerHtml]="eduzz_plots_value | conversion : 'BRL'"></span>
                  </small>
                </div>
                <a class="btn orange bit" [href]="eduzz_url">Pagar via eduzz</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Cartão de Crédito -->
        <div *ngIf="paymentCreditCard">
          <hr class="w-100">
          <div style="display:flex; justify-content: center; align-items: center; flex-wrap: wrap;">
            <div style="min-width: 170px;" class="fsize-20 title-dblue center">Pagar com Cartões de Crédito</div>
            <div style="min-width: 250px;">
              <img src="assets/img/elo.png" style="padding-left: 10px;">
              <img src="assets/img/hiper.png" style="padding-left: 10px;">
              <img src="assets/img/master.png" style="padding-left: 10px;">
              <img src="assets/img/visa.png" style="padding-left: 10px;">
            </div>
          </div>
          <div class="center">
            <form [formGroup]="creditCardGroup" class="formcard">
              <div class="ui-float-label">
                <input id="float-input" type="text" [textMask]="{mask: cardMask}" formControlName="cardNumber" size="30"
                  pInputText>
                <label for="float-input">Número do Cartão de Crédito</label>
                <span class="error" *ngIf="creditCardGroup.get('cardNumber').hasError('pattern')">
                  Número inválido
                </span>
                <span class="error" *ngIf="creditCardGroup.get('cardNumber').hasError('required')">
                  Obrigatório
                </span>
              </div>
              <div class="ui-float-label">
                <input id="float-input" type="text" formControlName="cardName" size="30" pInputText>
                <label for="float-input">Nome como está no cartão</label>
                <span class="error" *ngIf="creditCardGroup.get('cardName').hasError('pattern')">
                  Nome inválido
                </span>
                <span class="error" *ngIf="creditCardGroup.get('cardName').hasError('required')">
                  Obrigatório
                </span>
              </div>
              <div class="mt-4">
                <p-dropdown [options]="creditCardParcels" formControlName="numberOfParcels"></p-dropdown>
              </div>
              <div class="mt-4 display-flex">
                <div class="flex-1">
                  <p-dropdown [options]="months" formControlName="cardMonth"></p-dropdown>
                </div>
                <div class="flex-1">
                  <p-dropdown [options]="years" formControlName="cardYear"></p-dropdown>
                </div>
                <div class="ui-float-label input-cvv">
                  <input id="float-input" maxlength="4" formControlName="cardCVV" pInputText>
                  <label for="float-input">CVV</label>
                  <span class="error" *ngIf="creditCardGroup.get('cardCVV').hasError('required')"> Obrigatório
                  </span>
                  <span class="error" *ngIf="creditCardGroup.get('cardCVV').hasError('pattern')">Somente Números</span>
                  <span class="error" *ngIf="creditCardGroup.get('cardCVV').hasError('minlength')">Mínimo 3</span>

                </div>
              </div>
              <button class="btn orange max" [disabled]="!creditCardGroup.valid || !sendpayOk" (click)="sendPay('credit_card')"
                [ngClass]="{'disabled':!creditCardGroup.valid || !sendpayOk}">Pagar</button>
            </form>
          </div>
        </div>

        <!-- BitCoins -->
        <div *ngIf="paymentBitcoin" style="display: flex; flex-direction: column; align-items: center;">
          <hr class="w-100">
          <div style="text-align: center;">
            <div style="display:flex; justify-content: center; align-items: center; flex-wrap: wrap;">
              <div style="min-width: 180px;" class="fsize-20 title-dblue center">Pagar com BitCoins</div>
              <img style="min-width: 120px;" src="assets/img/bar_bitcoin.png" style="padding-left: 10px;">
            </div>
            <div class="button">
              <div class="valor">Valor:
                <span class="price" [innerHtml]="amountPlan | conversion : 'BRL'"></span>
              </div>
              <a class="btn orange bit" (click)="sendPay('crypto_coins');">Pagar com BitCoins</a>
            </div>
          </div>

          <div style="flex: 1; max-width: 450px;">
            <div class="title">É importante que o bloqueador de popup esteja desativado em seu navegador.</div>
            <br>
            <div class="title">Como Funciona?</div>
            <div class="text">Ao clicar no botão sua solicitação é enviada, e é aberto um *popup para fazer a
              transação.</div>
            <div class="text">Você usa seu e-mail cadastrado no YOUHUB para comprar sua conexão.</div>
            <div class="text">Após a compra envie um email para <span class="mail">financeiro@youhub.com.br</span>
              e
              confime seu pagamento da conexão.</div>
            <div class="text">Depois de confirmado o pagamento, seu upgrade será efetivado.</div>
          </div>

          <div *ngIf="crypto_coins?.length > 0">
            Solicitações de Pagamento por BitCoins
            <p-table styleClass="classetable" [responsive]="true" [value]="crypto_coins">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width:7em">Data</th>
                  <th style="width:6em">Valor</th>
                  <th style="width:6em">Status</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-grad let-rowData>
                <tr>
                  <td>{{grad.created}}</td>
                  <td>{{grad.adesao}}</td>
                  <td>{{stage[grad.stage]}}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>

        <!-- Boleto -->
        <div *ngIf="paymentTicket" class="box-ticket" style="background-color: #6629900d;">
          <hr class="w-100">
          <div style="display:flex; justify-content: center; align-items: center; flex-wrap: wrap;">
            <div style="min-width: 150px;" class="fsize-20 title-dblue center">Pagar à vista com Boleto Bancário</div>
            <div style="min-width: 150px;">
              <img src="assets/img/boleto.png" style="padding-left: 10px;">
            </div>
          </div>
          <div class="w-100 mt-5 center">
            <form [formGroup]="ticketGroup">
              <div class="contentComplete">
                <div class="ui-float-label inputformflex" *ngIf="this.resellerObj.cnpj_cpf === ''">
                  <input id="cpf" formControlName="cpfControl" size="30" [textMask]="{mask: CPFMASK}" pInputText>
                  <label for="cpf">Digite seu CPF</label>
                  <span class="error" *ngIf="ticketGroup.get('cpfControl').touched && ticketGroup.get('cpfControl').hasError('pattern')">CPF
                    inválido!
                  </span>
                  <span class="error" *ngIf="ticketGroup.get('cpfControl').hasError('required')">Obrigatório!</span>
                </div>
                <div class="ui-float-label inputformflex">
                  <input id="cep" formControlName="cepControl" size="30" [textMask]="{mask: CEPMASK}" (keyup)="getCEP()"
                    pInputText>
                  <label for="cep">Digite o CEP</label>
                  <i *ngIf="resellerCheck" class="fa fa-check checktrue" aria-hidden="true"></i>
                  <i *ngIf="resellerLoading" class="fa fa-spinner fa-pulse fa-fw checkload"></i>
                  <i *ngIf="resellerCheckfalse" class="fa fa-times checkfalse" aria-hidden="true"></i>
                  <span class="error" *ngIf="ticketGroup.get('cepControl').touched && ticketGroup.get('cepControl').hasError('pattern')">Formato
                    de CEP inválido!</span>
                  <span class="error" *ngIf="ticketGroup.get('cepControl').hasError('required')">Obrigatório!</span>
                </div>
                <button class="btn blue max" (click)="getCEP();">Buscar CEP</button>
                <div *ngIf="formAddress">
                  <div class="ui-float-label inputform">
                    <input id="street" formControlName="streetControl" size="30" pInputText>
                    <label for="street">Digite a rua</label>
                    <span class="error" *ngIf="ticketGroup.get('streetControl').hasError('required')">Obrigatório!</span>
                  </div>
                  <div class="ui-float-label inputform">
                    <input id="number" formControlName="numberControl" size="30" pInputText>
                    <label for="number">Digite o número</label>
                    <span class="error" *ngIf="ticketGroup.get('numberControl').hasError('required')">Obrigatório!</span>
                  </div>
                  <div class="ui-float-label inputform">
                    <input id="district" formControlName="districtControl" size="30" pInputText>
                    <label for="district">Digite o bairro</label>
                    <span class="error" *ngIf="ticketGroup.get('districtControl').hasError('required')">Obrigatório!</span>
                  </div>
                  <div class="ui-float-label inputform">
                    <input id="city" formControlName="cityControl" size="30" pInputText>
                    <label for="city">Digite a cidade</label>
                    <span class="error" *ngIf="ticketGroup.get('cityControl').hasError('required')">Obrigatório!</span>
                  </div>
                  <div class="ui-float-label inputform">
                    <p-dropdown [options]="states" formControlName="stateControl"></p-dropdown>
                    <label for="city">Selecione o estado</label>
                    <span class="error" *ngIf="ticketGroup.get('stateControl').hasError('required')">Obrigatório!</span>
                  </div>
                </div>
                <button [disabled]="!ticketGroup.valid" (click)="sendPay('ticket')" class="btn orange max" [ngClass]="{'disabled':!ticketGroup.valid}">Gerar
                  Boleto
                </button>
              </div>
            </form>

          </div>
          <div *ngIf="ticket?.length > 0">
            Solicitações de Pagamento por Boleto
            <p-table styleClass="classetable" [responsive]="true" [value]="ticket">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width:7em">Data</th>
                  <th style="width:6em">Valor</th>
                  <th style="width:6em">Boleto</th>
                  <th style="width:6em">Status</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-grad let-rowData>
                <tr>
                  <td>{{grad.created}}</td>
                  <td>{{grad.adesao}}</td>
                  <td *ngIf="grad.method=='ticket'"><a [href]="grad.ticket_url" target="_blank">
                      <div class="btn orange" style="margin: 5px !important;">Imprimir Boleto</div>
                    </a></td>
                  <td>{{stage[grad.stage]}}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>

        <!-- Crédito da plataforma -->
        <div *ngIf="paymentCredit && (value_credit > 0)" style="display: flex; flex-direction: column; align-items: center;">
          <hr class="w-100">
          <div>
            <div>
              <div style="min-width: 180px;" class="fsize-16 title-dblue center">Pagar com seu Saldo: </div>
            </div>
            <div class="contentSaldo">
              <div class="text-card">Saldo Disponível:  <span class="text" [ngClass]="{'green' : credit > 0}"
                  [innerHTML]="value_credit | conversion : 'BRL'"></span></div>
            </div>
            <div class="button">
              <div class="valor">Valor:
                <span class="price" [innerHtml]="amountPlan | conversion : 'BRL'"></span>
              </div>
              <a class="btn green bit" (click)="sendPay('platform_credit');">Pagar com Saldo</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>