<div class="contentPage">
  <div class="formCheckout">
    <div class="mainBox serviceForm">
      <div class="titleBox">
        Link para registro de Usuário para <b>Validar Cupons Smart</b>
      </div>
      <div class="content">
        <p-table [value]="companies">
          <ng-template pTemplate="header">
            <tr>
              <th>Empresa</th>
              <th>Url para cadastro</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-company>
            <tr class="trCompany">
              <td>{{ company.company }}</td>
              <td>
                {{ urlStore + 'supplier/login/' + company.url | slice: 0:45 }}...
                <span class="icon-copy" title="Copiar" (click)="copyUrl(company.url)"><i class="material-icons">file_copy</i></span>
              </td>
            </tr>
            <!-- Dados Usuario -->
            <tr class="trUser" *ngIf="company.idUser">
              <td colspan="2">
                Nome: {{ company?.name }} <br>
                E-mail: {{ company?.mail }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>