<div class="container">
    <div class="contentPage">
      <div class="headerPage">
        <div class="pageName">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <span class="text">Meus Endereços</span>
        </div>
      </div>
      <div class="cnt">
        <div class="contentAddress">
          <div class="boxAddress add" (click)="openModalContact()">
            <div class="addNew">
              <i class="fa fa-plus" aria-hidden="true"></i>
              <div class="txt">Adicionar novo endereço</div>
            </div>
          </div>
          <div class="boxAddress" *ngFor="let item of listAddress; let idx = index">
            <div class="box">
              <div class="defaultAddress">
                <span *ngIf="item?.main">
                  <span>Endereço Entrega</span>
                  <small>(Principal)</small>
                </span>
              </div>
              <div class="centerAddr">
                <div class="nickName">Endereço {{idx + 1}}</div>
                <div class="address">
                  <span>{{item?.street}}, {{item?.number}}, {{item?.neighborhood}}</span>
                  <small *ngIf="item?.complement">({{item?.complement}})</small>
                  <span>{{item?.city}}-{{item?.state}}</span>
                </div>
                <div class="zipCode">CEP {{item?.zipcode}}</div>
              </div>
              <div class="options">
                <span class="txt" (click)="deleteAddress(item.id)">Excluir</span>
                <span class="sep"> | </span>
                <span class="txt" (click)="selectAddress(item)">Tornar principal</span>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>