<div class="contenShopCart container">
  <div>
    <div class="contentItensShop">
      <app-consultant-shop-items-in-shop-cart [editable]="true" (onShopCartItems)="onShopCartItems($event)"></app-consultant-shop-items-in-shop-cart>
    </div>
    <div class="contentShopCartShipping" *ngIf="shopCartItems && shopCartItems.length > 0">
      <div class="contentBtnFinish">
        <button class="btnFinish btn" routerLink="../pay/checkout">Finalizar Compra</button>
      </div>
    </div>
  </div>
</div>