<mat-dialog-actions style="justify-content: flex-end; margin: 0;">
    <button mat-button mat-dialog-close> <i class="fa fa-times" aria-hidden="true"></i> Fechar</button>
</mat-dialog-actions>
<mat-dialog-content>
    <div class="info_rescue">
        <div class="title">
            <p><b>ATENÇÃO AS NOVIDADES DO PLANO</b></p>
            <p><b>1 - NOVA QUALIFICAÇÃO ELITE</b></p>
            <p>Conheça a nova Qualificação Elite!<br>
                Ao atingir 4.000 pontos, você se torna um Associado Elite e recebe 5% sobre os pontos de recompra
                (ativação), ou seja no Unilevel, pago sempre no dia 05 de cada mês.</p>
            <p><b>2 - COMPRESSÃO BÔNUS START TWO</b></p>
            <p>O Bônus Start Two ficou imbatível!<br>
                Agora com a compressão do Bônus Start Two, você tem mais um complemento de bônus:<br>
                - 1ª linha - complemento até atingir R$ 150<br>
                - 2ª linha - complemento até atingir R$ 300<br>
                - 3ª linha - complemento até atingir R$ 1000</p>
            <p><b>3 - PONTOS PARA ATIVAÇÃO MENSAL </b></p>
            <p>As regras de Habilitação e Ativação mudaram. Fique Atento!<br>
                Se você preferir consumir os 170 pontos somente em produtos, pode!
                Nesse caso, você não terá acesso à sua loja Hubmix, Galáxia (Funil de Vendas) e Finders Fee.
                <br>
                Mas se você quiser alavancar suas vendas e atrair mais clientes para seus produtos, serviços ou crescer
                a sua equipe, habilite as Ferramentas Digitais oferecidas pela YouHub: Loja Hubmix, Galáxia (Funil de
                Vendas) e Finders Fee com R$ 130,00 adquirindo 75 pontos.</p>
            <br>
            <p>Aproveite essas novidades e turbine seus ganhos!!!</p>
        </div>


        <!-- <div class="title">
            <p><b>REGRAS PARA ABERTURA DA 3ª LINHA</b></p>

            <p>Agora você poderá abrir sua 3ª linha de trabalho em sua matriz, atente-se as novas regras:</p>
            
            <p>
                <b>Associados Conectados à YouHub à partir de 01/02/2019:</b><br>
                - É necessário completar 6 indicações em sua Matriz Educacional em 30 dias, preenchendo a 1ª e 2ª linhas;<br>
                - Se fizer 6.000 pontos no mesmo período fará o avanço de título. 
            </p>
            <p>
                <b>Associados Conectados à YouHub até 31/01/2019:</b><br>
                - Associados que se Conectaram à YouHub até 31/01/2019 e que completarem 6 indicações em sua Matriz Educacional até o dia 28/02/2019, preenchendo a 1ª e 2ª linhas, também poderão abrir a 3ª linha de trabalho em sua matriz;<br>
                - Nesse caso, para avançar de título é necessário atingir o requisito acima nos primeiros 30 dias.
            </p>

            <p>Obs. Caso o Associado não atinja os requisitos acima no período de 30 dias, permanece a regra original de completar a matriz educacional com 14 pessoas para a abertura da 3ª linha.</p>

        </div> -->
        <!-- <div class="title">
            <b>PROCEDIMENTO PARA SOLICITAÇÃO DE SAQUES</b>
            <p class="italic">Solicitar Saque como Pessoa Física</p>
            <p>Na YouHub o pagamento é SEMANAL!<br>
                O procedimento para solicitação de Saque é muito simples:
            </p>
            <p>
                - Para fazer a solicitação de Saque você deve validar seu CPF em seu Perfil. <a href="https://office.youhub.com.br/office/myAcount">(CLIQUE
                    AQUI)</a><br>
                - O meio de pagamento para Pessoa Física é com cartão Pré-pago. <a href="https://office.youhub.com.br/office/prepaidcard">(SAIBA
                    MAIS)</a><br>
                - Após validar seu CPF e solicitar seu cartão, você poderá fazer a solicitação de saque.
            </p>
            <p><b>Como Solicitar Saque?</b></p>
            <p>
                - Clique no menu FINANCEIRO, opção SAQUE.<a href="https://office.youhub.com.br/office/rescue">(CLIQUE
                    AQUI)</a><br>
                - Você deve fazer o seu pedido de saque até as 18:00h da sexta-feira de cada semana.<br>
                - Você recebe o valor solicitado até a quinta-feira da semana seguinte.<br>
            </p>

            <p>
                Bons negócios!<br>
                Equipe YouHub
            </p>
        </div> -->

        <!-- <div class="title"><b>B2B ESPECIAL RIO DE JANEIRO</b>
            <br>
            <p>Olá Associado(a),</p>
            <p>Hoje dia 16 de janeiro, o encontro B2B do Rio de Janeiro será Especial!!!<br>
             Teremos a presença do Ceo The Rainmaker Luiz Francisco que fará os treinamentos:<br>
            - Hábitos Angulares e Pontos de Inflexão<br>
            - Como Passar o Plano em 10 minutos<br>
            - Como Recrutar pelo Whatsapp
            </p>
            <p>Se você foi convidado para este treinamento aproveite esta oportunidade!</p>
            <p>
            <b>Check in: 18h</b><br>
            <b>Associado: R$ 15</b><br>
            <b>Convidado: R$ 30</b><br>
            <b>Expositor/Associado: R$ 30</b>
            </p>
            <p>WORLDWIDE OFFICES<br>
            Av. EMB. Abelardo Bueno, 600 – Barra da Tijuca</p>
        </div> -->
        <!-- <div class="title"> <b>NOVAS REGRAS PARA O SMART E VOUCHER PRIME</b>

            <p>Para que você possa aumentar as suas vendas de Vouchers Prime, e tenha mais consumidores fidelizados em
                sua loja, a YouHub adotou uma nova política:</p>
            <p>À partir do dia 18/12/2018, o preço PRIME será ajustado automaticamente a 10% acima do preço SMART!</p>
            <p>Com isso, você recebe a diferença referente aos 10% entre preço PRIME e o SMART, e ainda soma todos
                esses pontos ao seu Volume Pessoal, contribuindo também com o aumento nas vendas dos fornecedores da
                plataforma, valorizando ainda mais o seu negócio!</p>
            <p>Outra novidade, é que O PREÇO SMART NÃO MAIS APARECERÁ NAS LOJAS! O valor para o Associado, ficará
                disponível somente para os Associados logados no EV, desta forma, os clientes e público em geral só
                terão acesso ao preço de catálogo e ao preço Prime.</p>
            <p>Aproveite essa novidade!<br>
                Equipe YouHub</p>

        </div> -->


        <!-- <div class="title">
        <b>COMUNICADO IMPORTANTE!</b>
        <p>Novo Valor de Conexão a Plataforma YouHub</p>
        
        <p>Conforme anunciado no Lançamento Oficial em Alfenas, temos uma novidade exclusiva!<br> Toda conexão a Plataforma YouHub receberá R$ 200 de crédito para Publicidade no Portal + 30 Vouchers Prime. </p>
        
        <p>À partir da 23h00 do dia 09/12/2018, toda a CONEXÃO A PLATAFORMA YOUHUB passará a R$ 1.497,00</p>
        
        <p>Equipe YouHub</p>
        </div> -->


        <!-- <div class="title">
            <b>GRANDE NOVIDADE PARA OS ASSOCIADOS YOUHUB!</b>
            </div>
            <p>De modo a simplificar a HABILITAÇÃO e a ATIVAÇÃO mensal, a partir de agora será considerado para habilitação e ativação o período que vai do primeiro ao último dia de cada mês.</p>
            <p>Sendo que Quando o novo associado entra ele tem até o ultimo dia do mês subsequente para se habilitar e se ativar.</p>
            <p>Para fazer a regularização do sistema de ativação  unilevel vamos retroceder os pontos perdidos por falta de habilitação ou ativação.</p>
            <p>O Associado que não tem (2)duas habilitações quitadas perfazendo 150 pts e com no minimo de 190 pontos pessoais consumidos em produtos dentro da plataforma, deve regularizar a situação até dia 29/10/18</p>
            <p>A mudança passa a valer a partir dessa terça-feira (30/10), quando serão retroagidos todos os pontos perdidos ou não computados no seu unilevel.</p>
            <p><b>HABILITAÇÃO:</b> É a mensalidade cobrada para manter a loja virtual, aplicativo e os sistemas de acessos.</p>
            <p><b>ATIVAÇÃO:</b> É o consumo mensal de produtos dentro da plataforma</p>
            <p>Para o associado receber suas bonificações mensais é necessário que esteja HABILITADO e ATIVO entre o primeiro e ultimo dia do mês</p>
            <p>Quaisquer dúvidas, estamos à disposição através do Chat</p> -->

        <!-- <img src="assets/img/imersao_one_vision.png" class="image">-->

        <!-- <div class="popup" *ngIf="images.length">
      <i class="fas fa-caret-left" (click)="carousel.onPrevNav();carousel.stopAutoplay();carousel.startAutoplay()" *ngIf="images.length > 1" ></i>
      <p-carousel #carousel [value]="images" circular="circular" autoplayInterval="4000" numVisible="1">
        <ng-template let-image pTemplate="item">
          <img class="img-fluid" [src]="image?.url_desktop" (click)="redirect(image?.link)" />
        </ng-template>
      </p-carousel>
      <i class="fas fa-caret-right" (click)="carousel.onNextNav();carousel.stopAutoplay();carousel.startAutoplay()" *ngIf="images.length > 1" ></i>
    </div> -->



        <!--    <div (click)="payticket()" class="btn orange comprar">Compre seu ingresso</div>


        <iframe width="90%" height="400" src="https://www.youtube.com/embed/xLlS_0dCt6M?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->

        <!-- <div class="title">
            <b>BOAS PRÁTICAS DE COMPORTAMENTO NAS REDES SOCIAIS</b>
        </div>
<p></p>
        <p>Para assegurar que as informações relacionadas ao nosso modelo de negócio sejam padronizadas e duplicadas da maneira
            correta, determinamos as regras abaixo que devem ser seguidas por todos os Associados da YOUHUB.</p>

        <p>Adotar e duplicar essas normas para a sua rede é o que garantirá a segurança e a sustentabilidade deste modelo
            no médio e longo prazos.</p>

        <p>Portanto, leia com atenção, dê o exemplo e contribua, assim, para crescermos juntos neste negócio.</p>

        <p>Seguem as regras de boas práticas nas redes sociais:</p>

        <ul style="list-style-type: none;">
            <li>
                <p>- É permitido ter a sua página pessoal no Instagram ou fanpage de negócios no Facebook usando o nome YOUHUB somente com o
                seu nome pessoal adicionado. Exemplo: jose.youhub.</p>
            </li>
            <li>
            <p>- É permitido fazer o seu próprio vídeo de apresentação do plano, desde que siga criteriosamente todas as regras deste documento,
                especialmente as listadas abaixo:</p>
                <ul>
                    <li>
                        1 - Não faça promessas de ganhos.<br>
                    </li>
                    <li>
                        2 - Não faça alusão a ganhos ou dinheiro fácil.<br>
                    </li>
                    <li>
                        3 - Não se refira ao negócio como forma de investimento.<br>
                    </li>
                    <li>
                        4 - Não denigra outras empresas e seus líderes.<br>
                    </li>
                    <li>
                        5 - Não divulgue qualquer tipo de informação sobre o negócio que não conste expressamente do material padrão divulgado pela
                        empresa.
                    </li>
                    <li>
                        6 - Não faça uso de linguajar chulo ou de palavras de baixo calão.
                    </li>
                    <li>
                        7 - Utilize em toda e qualquer postagem de vídeo a hashtag #YOUHUBvídeos. Você também pode usar livremente outras hashtags
                        consideradas relevantes pelo associado. A utilização da hashtag #YOUHUBvídeos destina-se a viabilizar
                        a identificação dos vídeos de forma padronizada. A não utilização da hashtag constitui infração grave
                        passível de penalidade.
                    </li>
                </ul><p></p>
            </li>
            <li>
                <p>- Todo o conteúdo exposto na rede social pessoal é de total responsabilidade do Associado, que indenizará a YOUHUB pelo uso
                da marca de forma contrária às permissões fixadas neste documento.</p>
            </li>
            <li>
                <p>- Em todo vídeo pessoal relacionado à YOUHUB em redes sociais, é necessário se apresentar pelo nome pessoal e “Associado
                YOUHUB”, podendo também utilizar sua graduação de rede. Por exemplo: “Meu nome é João da Silva,
                <b>Associado</b> da YOUHUB, e vou apresentar o nosso modelo de negócios para você”; ou “Meu nome é João da
                Silva, <b>Diamante</b> na YOUHUB, e vou apresentar o nosso modelo de negócios para você”.</p>
            </li>
            <li>
                <p>- O uso de material promocional (cartões de visita, materiais impressos, banners, camisetas, bonés etc.) deve ser feito conforme
                padrões e modelos que serão disponibilizados pela YOUHUB por meio do escritório virtual. Os custos de confecção
                do material promocional serão por conta do Associado.</p>
            </li>
            <li><p>- É proibido ter perfil em redes de negócios (Instagram, Facebook, etc.) ou manter páginas na internet (sites,
                blogs, comunidades, etc.) com o nome da YOUHUB (dando a entender, mesmo que indiretamente, se tratar de página
                oficial da empresa), ressalvada apenas a utilização em conformidade com o modelo autorizado pela empresa
                no primeiro item deste documento.</p></li>
            <li><p>- É proibido apresentar-se como palestrante, funcionário, colaborador, agente, franqueado, sócio, distribuidor
                e/ou representante nos vídeos pessoais nas redes sociais.</p></li>
            <li><p>- É proibido postar vídeo de apresentação do plano de negócios sem estar alinhado com o script oficial da
                YOUHUB ou divulgando informações sobre o negócio que não façam parte do material padrão divulgado pela empresa.</p></li>
            <li><p>- É proibido ainda apresentar-se com qualquer função que não seja a de associado; fazer falsas promessas
                relacionadas ao negócio; atribuir ao negócio características que não fazem parte do nosso modelo, conforme
                material padrão divulgado pela empresa; e denegrir a imagem da YOUHUB, de seus sócios, corporativo, fornecedores,
                parceiros e demais associados na internet.</p></li>

        </ul>

        <p><b>Acompanhamento:</b> a equipe YOUHUB mantém acompanhamento e monitoramento constante das redes sociais e páginas
            de internet, dedicando-se de forma permanente à identificação de irregularidades e infrações aos termos deste
            documento.</p>

        <p><b>Sanções:</b> Para os que desrespeitarem qualquer item deste documento, serão adotadas as medidas previstas
            no Código de Ética para penalização do Associado infrator, inclusive com possibilidade de suspensão e de cancelamento
            de cadastro.</p> -->

        <!-- <div class="title">
            <b>INSTRUÇÕES PARA RECEBIMENTO DE BONIFICAÇÕES:</b>
        </div>

        <p>Vamos falar sobre RECEBIMENTO DE BONIFICAÇÕES e conhecer o que você precisa fazer para efetuar os seus saques dentro do seu negócio YOUHUB.
            <br> Primeiro, É IMPORTANTE SABER que você pode receber como Pessoa Física ou Jurídica:</p>
        <ul style="list-style-type: none;">
            <li>
                - Como
                <u>
                    <b>Pessoa Física</b>
                </u>, é muito simples. Basta solicitar o seu cartão PRÉ-PAGO dentro do seu BACKOFFICE, em seguida, efetuar o saque. Sem burocracia. O que você precisa saber é que, na qualidade de Pessoa Física, será retido na fonte os impostos de acordo com a tabela progressiva da receita federal, conforme determina a legislação.
            </li>
            <li>
                - Como
                <u>
                    <b>Pessoa Jurídica</b>
                </u>, MEI, EIRELI ou Empresário Individual, DESDE QUE COM OBJETO SOCIAL COMPATÍVEL COM INTERMEDIAÇÃO DE NEGÓCIOS, basta enviar a Nota Fiscal COM DESTAQUE DAS RETENÇÕES PREVISTAS EM LEI. O imposto a ser pago dependerá do seu regime tributário (MEI, Simples Nacional, Lucro Real ou Lucro Presumido). Informe-se com o seu contador para obter as melhores condições possíveis, atendendo a legislação.
            </li>
        </ul>

        <p>
            <b>IMPORTANTÍSSIMO!</b> ! Só serão aceitas notas fiscais com os CNAES (Classificação Nacional de Atividades Econômicas) específicos para a nossa atividade.
            <br> Caso você não tenha cadastrado nenhum CNAE no seu CNPJ, que possibilite esse recebimento, resolva isso o mais rápido possível com o seu contador, ok? Do contrário, não será possivel concluir sua solicitação de saque.
            <br>
        </p>

        <div class="title">
            <b>QUANDO VOCÊ VAI RECEBER?</b>
        </div>

        <p>Na YouHub, como você sabe, o pagamento é SEMANAL!
            <br>O procedimento é muito simples.
            <br>Você deve fazer o seu pedido de saque até a sexta-feira de cada semana para receber o valor solicitado na quarta-feira da semana seguinte.
            <br> EXCEPCIONALMENTE, nessa primeira semana, os pedidos de pagamento feitos até domingo (12/08) serão processados
            e pagos até quarta-feira (15/08).
            <br>
        </p>

        <div class="title">
            <b>COMO VOCÊ VAI RECEBER?</b>
        </div>
        <p>Você pode escolher 3 formas de recebimento de pagamento.
            <br> São elas:
            <br>
        </p>
        <ul style="list-style-type: none;">
            <li>1- Por meio do cartão PRÉ-PAGO, solicitado dentro do seu BackOffice, isso, caso você tenha optado por receber
                como PF;</li>
            <li>2- Em sua conta bancária jurídica, caso tenha optado por receber como PJ;</li>
            <li>3- Em carteira de BITCOIN cadastrada em seu BackOffice independente de ser pessoa física ou jurídica.</li>
        </ul>

        <p>Obs.: Você também pode optar em adquirir novas ativações com suas bonificações</p>

        <p>
            <b>ATENÇÃO</b>: Caso você tenha optado por receber como PJ, é necessário que seja enviada uma nota fiscal no final do mês com os valores sacados no período. Do contrário, você perderá o benefício de receber e emitir a NF no final do mês e não poderá solicitar novos saques até que seja regularizada a situação.
            <br> Esses procedimentos são extremamente importantes e necessários para manter a segurança das nossas operações e garantir a sustentabilidade do negócio que você escolheu para desenvolver a sua paixão.
            <br> Portanto, fique antenado com essas questões importantes e conte com o nosso suporte e apoio para tirar eventuais dúvidas pelo e-mail <span class="link">financeiro@youhub.com.br</span>.
            <br>
        </p>
-->
        <!-- <p>Combinado?</p>

        <p>YOUHUB – “Você desenvolvendo a sua paixão”</p>  -->
    </div>
</mat-dialog-content>