<div class="container text-center">
  <div class="row">
    <div class="col">
      <h1 class="jumbotron">
        Alterar Senha
      </h1>
    </div>
  </div>
  <form class="row justify-content-center mx-0" [formGroup]="changePassword">

    <label class="col-12" for="oldPassword">Senha Atual</label>
    <div class="col-12 col-md-6 col-lg-4 myInput">
      <input type="{{fop?'text':'password'}}" formControlName="oldPassword">
      <button tabindex="-1" type="button" (click)="checkPassword('op',$event)" (mouseout)="checkPassword('op',$event)"><i class="{{fop?'far fa-eye':'far fa-eye-slash'}}"></i></button>
    </div>
    <div class="w-100" [hidden]="changePassword.controls['oldPassword'].invalid" style="height:16px"></div>
    <small style="color:red" class="col-12" [hidden]="changePassword.controls['oldPassword'].valid">
      Senha precisa ter entre 6 a 20 caracteres!
    </small>


    <label class="col-12" for="newPassword">Nova Senha</label>
    <div class="col-12 col-md-6 col-lg-4 myInput">
      <input type="{{fnp?'text':'password'}}" formControlName="newPassword">
      <button tabindex="-1" type="button" (click)="checkPassword('np',$event)" (mouseout)="checkPassword('np',$event)"><i class="{{fnp?'far fa-eye':'far fa-eye-slash'}}"></i></button>
    </div>
    <div class="w-100" [hidden]="changePassword.controls['newPassword'].invalid" style="height:16px"></div>
    <small style="color:red" class="col-12" [hidden]="changePassword.controls['newPassword'].valid">
      Senha precisa ter entre 6 a 20 caracteres!
    </small>

    <label class="col-12" for="confirmNewPassword">Confirme Nova Senha</label>
    <div class="col-12 col-md-6 col-lg-4 myInput">
      <input type="{{fcnp?'text':'password'}}" formControlName="confirmNewPassword">
      <button tabindex="-1" type="button" (click)="checkPassword('cnp',$event)" (mouseout)="checkPassword('cnp',$event)"><i class="{{fcnp?'far fa-eye':'far fa-eye-slash'}}"></i></button>
    </div>
    <div class="w-100" [hidden]="changePassword.controls['confirmNewPassword'].invalid" style="height:16px"></div>
    <small style="color:red" class="col-12" [hidden]="changePassword.controls['confirmNewPassword'].valid">
      Senha precisa ter entre 6 a 20 caracteres!
    </small>

    <div class="w-100 my-5">
      <button pButton type="button" (click)="requestChangePassword()" label="Trocar"></button>
    </div>

  </form>
</div>
