<div class="banner">

</div>
<div class="title-city">
  Guia Smart
</div>
<div class="find">
  <div class="box-find">
    <div class="text">Pesquisar empresas e serviços</div>
    <div class="input">
      <input class="input-find" [(ngModel)]="search" (keyup.enter)="filter()">
      <i class="fas fa-search" (click)="filter()"></i>
    </div>
  </div>
  <div class="company-resgistered">
    <!-- 
     <span class="t-green">3564</span> empresas cadastradas.
      Não encontrou sua empresa? <span class="t-blue">
        Cadastre!
      </span>
-->
  </div>
  <!--<div class="here">
     <div class="here-title">
      Anuncie sua empresa no guia!
    </div>
    <div class="here-text">
      Ligue agora! (35) <b>3292-0000</b>
    </div> 
  </div>-->
</div>
<div class="alphabetic-filter">
  <!-- <ng-container *ngIf="!filtered">
      <div class="txt">
        Categorias por ordem alfabética
      </div>
      <div class="alphabetic">
        <span class="letters">A</span>
        <span class="letters">B</span>
        <span class="letters">C</span>
        <span class="letters">D</span>
        <span class="letters">E</span>
        <span class="letters">F</span>
        <span class="letters">G</span>
        <span class="letters">H</span>
        <span class="letters">I</span>
        <span class="letters">J</span>
        <span class="letters">K</span>
        <span class="letters">L</span>
        <span class="letters">M</span>
        <span class="letters">N</span>
        <span class="letters">O</span>
        <span class="letters">P</span>
        <span class="letters">Q</span>
        <span class="letters">R</span>
        <span class="letters">S</span>
        <span class="letters">T</span>
        <span class="letters">U</span>
        <span class="letters">V</span>
        <span class="letters">W</span>
        <span class="letters">X</span>
        <span class="letters">Y</span>
        <span class="letters">Z</span>
      </div>
    </ng-container> -->
</div>