<div class="contentAll">
  <div class="titleForm">
    <div class="title">Seja o primeiro fornecedor em sua cidade</div>
  </div>
  <form [formGroup]="contactForm" novalidate (ngSubmit)="submitForm()">

    <div class="contentFields">

      <div class="form-group">
        <label>Nome</label>
        <input type="text" class="form-control" required formControlName="name">
      </div>

      <div class="form-group">
        <label>Telefone:</label>
        <input type="text" class="form-control" [textMask]="{mask:maskCel}" required formControlName="phone">
      </div>

      <div class="form-group">
        <label>E-mail</label>
        <input type="text" class="form-control" required formControlName="email">
      </div>
    </div>

    <div class="contentBtnSend form-group">
      <div class="contentCaptcha">
        <p-captcha [siteKey]="siteKey" (onResponse)="showResponse($event)" type="image"></p-captcha>
      </div>
      <button [disabled]="!contactForm.valid || !enableSend" type="submit" class="btn btnSend">Enviar</button>
      <div class="clearfix"></div>
    </div>
  </form>
</div>