<div class="thumb">
    <div class="grid">
        <div class="box">
            <div class="img">
                <img [src]="itemObject?.mediasForm?.images[0]?.url" onError="src='global/img/image_default.png'">
            </div>
            <div class="cnt">
                <!-- <div class="btn-add">
                <i class="fas fa-trash-alt"></i>
                </div> -->
                <div class="btn-add" [routerLink]="[ '/guide', 'company', 'sales', itemObject?.companyForm?.id ]">
                    <i class="fas fa-search-dollar"></i>
                </div>
                <div class="desc">
                    <div class="title">
                        {{ itemObject?.companyForm?.name | words : 10 : '...' }}
                    </div>
                    <!-- <div class="bt">
                     Editar
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>