<div class="contentPage">
  <div class="container">
    <div class="contentBody">

      <div class="cntBox">
        <div class="cntIcon">
          <div class="icon diff">
            <i class="fa fa-globe" aria-hidden="true"></i>
          </div>
        </div>
        <div class="cntTopText">
          <!-- <div class="name">Freelancer</div> -->
          <div class="tlt">Para você que nunca trabalhou online</div>
          <div class="sutTlt">Chegou a hora de aprender como trabalhar online. Para você que não tem nenhuma experiência e busca uma nova renda
            extra, veja como podemos te ajudar</div>
          <div class="btn" (click)="onAnchorClick()">Veja abaixo</div>
        </div>
      </div>

      <div class="cntBox">
        <div class="cntIcon">
          <div class="icon">
            <i class="fa fa-users" aria-hidden="true"></i>
          </div>
        </div>
        <div class="cntText">
          <div class="tlt">Trabalhe online e ganhe por tempo de atendimento</div>
          <div class="text">Se você não tem experiência, recomendamos diversas possibilidades , desde atuar como Guia local online, Concierge
            , Testador de Sites, Amigo Virtual, dentre diversas outras funções sugeridas por nós. Se você já tem experiência
            em alguma area, você pode atuar como Consultor Online, Coach, Psicólogo, Consultor Jurídico, Consultor de Jogos
            Digitais, dentre diversas outras funções. Você escolhe uma ou mais funções, define o valor da hora e já está
            pronto para começar a faturar.</div>
        </div>
      </div>

      <div class="cntBox">
        <div class="cntIcon">
          <div class="icon">
            <i class="fa fa-database" aria-hidden="true"></i>
          </div>
        </div>
        <div class="cntText">
          <div class="tlt">Acesse nosso banco de dados de oportunidades. </div>
          <div class="text">Dezenas de sugestões para você empreender online começando do zero. Milhares de oportunidades de empregos para
            trabalhar de casa.</div>
        </div>
      </div>

      <div class="cntBox">
        <div class="cntIcon">
          <div class="icon">
            <i class="fa fa-usd" aria-hidden="true"></i>
          </div>
        </div>
        <div class="cntText">
          <div class="tlt">Descubra nossa moeda virtual</div>
          <div class="text">Uma nova fonte de renda para você realizar no seu tempo livre. Realize as tarefas online que disponibilizamos e
            acumule moedas virtuais que podem ser trocadas por viagens, produtos, serviços, etc.</div>
        </div>
      </div>

      <div class="cntBox">
        <div class="cntIcon">
          <div class="icon">
            <i class="fa fa-desktop" aria-hidden="true"></i>
          </div>
        </div>
        <div class="cntText">
          <div class="tlt">Tenha seu site pessoal para ofertar seus serviços e atrair clientes</div>
          <div class="text">Um site personalizado com todas as informações que você precise para executar o atendimento.</div>
        </div>
      </div>

    </div>
  </div>
  <div id="contentPlan" class="contentFooter">
    <div class="container">
      <div class="contentBTN">
        <span class="btn" [routerLink]="'/checkout-plan/' + planSelected?.id">Quero me CADASTRAR</span>
      </div>
    </div>
  </div>
</div>