<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="jumbotron pb-0">
        Apresentação de Negócios
      </h1>
    </div>
  </div>
  <div class="row justify-content-center text-center px-5">
    <div class="col-12">
      <h3 class="py-2">
        <p>Baixe os slides <a href="https://s3.amazonaws.com/youhub-files/production/Marketing/apn_youhub_0712.pptx"
            download="true">Apresentação de Negócios</a>.</p>
      </h3>
    </div>
    <div class="col-12">
      <h3 class="py-2">
        <p>Baixe o pdf <a href="https://s3.amazonaws.com/youhub-files/production/Marketing/apn_youhub_0712.pdf"
            download="true">Apresentação de Negócios</a>.</p>
      </h3>
    </div>

    <div class="embed-responsive embed-responsive-16by9" style="max-width:640px;">
      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/305026818" frameborder="0"
        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="w-100 py-3"></div>
    <div class="embed-responsive embed-responsive-16by9" style="max-width:640px;">
      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/305026482" frameborder="0"
        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</div>
