<div class="hub-bank">
  <div class="header">
    <div class="cards">
      <div class="txt">
        Crédito e Débito
      </div>
      <img src="assets/img/credit-card-elo.png" alt="">
      <img src="assets/img/credit-card-mastercard.png" alt="">
      <img src="assets/img/credit-card-visa.png" alt="">
    </div>
    <div class="bt">
      <div class="register">
        <!-- <div class="phis">
          <a href="https://www.ti-pagos.com/MeuTipagos/Pages/cadastro/cadastropfpj.aspx?0=281&t=pf">
            <i class="fas fa-user-tie"></i> Abrir Conta Física
          </a>
        </div>-->
        <div class="juri">
          <a href="https://portal.pagzoop.com/hubbank/">
            <i class="fas fa-user"></i> Gerencie sua maquininha
          </a>
        </div> 
      </div>
      <a href="https://www.ti-pagos.com/MeuTipagos/Pages/Acesso/?0=167">
        <div class="btn">
          ACESSE SUA CONTA DIGITAL
        </div>
      </a>
    </div>
  </div>

  <div class="top-logo">
    <img src="assets/img/hubbank.png" alt="">
  </div>
  <div class="mid-logo">
    <img src="assets/img/blank.png" alt="">
  </div>

  <div class="container">
    <div class="line cell">
      <div class="bigTitle">
        Banco Digital
      </div>
      <div class="img-cell">
        <img src="assets/img/Celular.png" alt="">
        <div class="circle-wtf">
          <div class="circleOrange cellCircle">
            <div class="txt-circle">
              <div class="title-circle">
                Isento
              </div>
              <div class="desc-circle">
                Sem mensalidade sem anuidade
              </div>
            </div>
          </div>
          <div class="circleWhite"></div>
        </div>

      </div>
      <div class="text-cell">
        <div class="item">BANCO DIGITAL COMPLETO </div>
        <div class="item">GERAR BOLETOS </div>
        <div class="item">REALIZAR TRANFERÊNCIAS VIA TED </div>
        <div class="item">TRANSFERÊNCIAS ENTRE CONTAS</div>
        <div class="item">RECARREGAR CELULARES </div>
        <div class="item">SIMULAR VENDAS </div>
        <div class="item">ENTRE OUTROS BENEFÍCIOS</div>
      </div>
    </div>



    <div class="line hubzinha">
      <div class="img-credit">
        <img src="assets/img/Maquinha.png" alt="">
      </div>
      <div class="text">
        <div class="title">Hubizinha</div>
        <div class="purple">
          <div class="cnt">
            <div class="item">• Conexão por bluetooth</div>
            <div class="item">• Envio Gratuito do comprovante por sms</div>
            <!-- <div class="item highlight">• Frete Grátis</div> -->
            <div class="item special">
              <div class="icon">
                <img src="assets/img/Calendario.png" alt="">
              </div>
              <div class="txt">
                RECEBA SEU DINHEIRO EM UM DIA
              </div>
            </div>
          </div>
          <div class="circle-wtf card-purple circle-hubzinha">
            <div class="circleOrange cellCircle">
              <div class="txt-circle">
                <!-- <div class="desc-circle">
                  Por 5x de
                </div>-->
                <div class="title-circle">
                  R$238,00
                </div>
                <div class="desc-circle">
                  à vista
                </div>
              </div>
            </div>
            <div class="circleWhite"></div>
          </div>
        </div>
      </div>
      <div class="img-women">
        <img src="assets/img/woman-hubizinha.png" alt="">
      </div>
    </div>


    <div class="line hubpro">

      <div class="img-women">
        <img src="assets/img/woman-hubpro.png" alt="">
      </div>

      <div class="text">
        <div class="title">Hub <span class="purple-text">Pro</span></div>
        <div class="purple">
          <div class="cnt">
            <div class="item">• CONEXÃO POR WIFI, BLUETOOTH E CHIP</div>
            <div class="item">• CHIP E PLANO DE DADOS GRÁTIS</div>
            <div class="item">• ENVIO GRATUITO DO COMPROVANTE POR SMS OU IMPRESSO</div>
            <!-- <div class="item highlight">• Frete Grátis</div> -->
            <div class="item special">
              <div class="icon">
                <img src="assets/img/Calendario.png" alt="">
              </div>
              <div class="txt">
                RECEBA SEU DINHEIRO EM UM DIA
              </div>
            </div>
          </div>
          <div class="circle-wtf card-purple">
            <div class="circleOrange cellCircle">
              <div class="txt-circle">
                <div class="desc-circle">
                  Atenção
                </div>
                <div class="title-circle">
                  CONSULTE!
                </div>
                <div class="desc-circle">
                  PREÇO ESPECIAL à Vista
                </div>
              </div>
            </div>
            <div class="circleWhite"></div>
          </div>
        </div>
      </div>

      <div class="img-credit">
        <img src="assets/img/Maquinha-PRO.png" alt="">
      </div>
    </div>

    <div class="fees">
      <div class="content-fee">
        <div class="title-fee">AS MELHORES TAXAS</div>
        <div class="cnt-fee">
          <div class="item"> ​• DÉBITO</div>
          <div class="item"> • CRÉDITO À VISTA</div>
          <div class="item"> • CRÉDITO 2X - 12X</div>
          <div class="item"> • ANTECIPAÇÃO (ARV)</div>
        </div>
        <div class="special-fee">
          CONDIÇÕES ESPECIAIS
        </div>
      </div>
    </div>

    <div class="whats">
      <div class="title-w">INICIE SUAS VENDAS JÁ!</div>
      <div class="desc">ATENDIMENTO 24 HORAS, 7 DIAS POR SEMANA</div>
    </div>

    <div class="about">
      <div class="title-a">
        SOBRE A HUB BANK
      </div>
      <div class="desc">
        Chegamos ao mercado com soluções em pagamentos simples e econômicas para alavancar o seu negócio!
      </div>
    </div>

    <div class="form">
      <div>
        <input class="input-hub" placeholder="Nome" [(ngModel)]="name">
        <!-- <input class="input-hub country" placeholder="+55"> -->
        <input class="input-hub cell-input" placeholder="Celular" [(ngModel)]="cellphone">
        <input class="input-hub" placeholder="Endereço de email" [(ngModel)]="email">
        <div class="btn" (click)="sendLead()">
          PEÇA JÁ A SUA!
        </div>
      </div>
    </div>
    <div class="copy">
      © 2018 Por hub bank.
    </div>
  </div>
</div>