<div class="domain">
  <div class="title">Subdomínio</div>
  <div class="desc">A URL da sua loja tem duas partes: um nome de subdomínio, escolhido quando você configurou sua conta,
    seguido do domínio padão. Você pode mudar o subdomínio na hora que quiser, mas fazer isso pode ter consequências para
    o SEO de sua loja. Antes de prosseguir, leia esse artigo de suporte.</div>
  <div class="url">
    <div class="disabled-label">https://partner.youhub.com.br/store/</div>
    <div class="subdomain form-group">
      <input class="form-control" type="text" [(ngModel)]="username">
    </div>
  </div>
  <div class="btn blue" (click)="send()">Alterar subdomínio</div>
  <a href="https://store.youhub.com.br/department/service/53" target="_blank" class="btn btnLink" (click)="send()">Compre
    seu domínio próprio
  </a>
</div>