<div class="forgot">
  <form class="formforgot" [formGroup]="forgotFormControl">
    <div class="contentforgot">
  
      <span class="text">Entre com seu e-mail para redefinir sua senha</span>
      <div class="ui-float-label inputformflex">
        <input id="email" type="email" formControlName="emailFormControl" size="30" pInputText autocomplete="off">
        <label for="email">E-mail</label>
        <i *ngIf="mailCheck" class="fa fa-check checktrue" aria-hidden="true"></i>
          <i *ngIf="mailLoading" class="fa fa-spinner fa-pulse fa-fw checkload"></i>
          <i *ngIf="mailCheckfalse" class="fa fa-times checkfalse" aria-hidden="true"></i>
        <span class="error" *ngIf="forgotFormControl.get('emailFormControl').hasError('pattern')">E-mail inválido</span>
        <span class="error" *ngIf="forgotFormControl.get('emailFormControl').hasError('required')">Obrigatório</span>
      </div>      
      <div class="contentlink">
        <a class="link" href="javascript:void(0);" (click)="goBack()">Voltar para login</a>       
      </div> 
      <div class="my-3"></div>

    <button [disabled]="!forgotFormControl.valid" class="btn orange max" (click)="send()" [ngClass]="{'disabled':!forgotFormControl.valid}">Enviar</button>
    
    </div>
  </form>
</div>