<div class="container">
  <div class="contentPage">
    <div class="headerPage">
      <div class="pageName">
        <i class="fas fa-camera" aria-hidden="true"></i>
        <span class="text">Foto de Perfil</span>
      </div>
    </div>
    <div class="content">
      <div *ngIf="loading" class="loading"><i class="fas fa-spinner fa-spin"></i> Carregando!</div>
      <div id="blocoPerfil" class="blocoPerfil" *ngIf="!loading">
        <div class="imageBlock">
          <div class=" profileProgress ">
            <div class="imgProfile">

              <img [src]="'//'+profilePic.name">

            </div>
          </div>
        </div>
        <div class="sendImage">
          <input id="avatar-input" style="display:none;" type="file" (change)="profilePictureChangeListener($event)" ngModel name="avatar"
            accept="image/*" #profilePicInput>
          <label for="avatar-input" class="link">
            <div class="btnEdit">
              <i class="fas fa-camera" aria-hidden="true"></i> Alterar Foto</div>
          </label>
        </div>

      </div>

    </div>
  </div>
</div>