<div class="prime">
  <div class="container">
    <section class="banner">
      <div class="text">
        <div class="desc">Assine o novo serviço do HubMix e aproveite</div>
        <div class="rotated">FRETE BONIFICADO</div>
        <div class="desc">ilimitado por 1 ano!</div>
        <div class="t-cnt">
          <div class="list">
            <div class="item">
              <div class="icon"><img src="assets/img/icon.png" alt=""></div>
              <div class="txt">Milhares de itens disponíveis</div>
            </div>
            <div class="item">
              <div class="icon"><img src="assets/img/icon.png" alt=""></div>
              <div class="txt">Sem valor mínimo por compra</div>
            </div>
            <div class="item">
              <div class="icon"><img src="assets/img/icon.png" alt=""></div>
              <div class="txt">Compre quantas vezes quiser!</div>
            </div>
            <div class="item">
              <div class="icon"><img src="assets/img/icon.png" alt=""></div>
              <div class="txt">Preços <span class="prime-color">EXCLUSIVOS</span></div>
            </div>
          </div>
          <div class="rotated">R$ 49,90/ano</div>
        </div>
      </div>
    </section>
    <!-- <section class="verify-cep">
      <div class="center"> Disponível para as regiões Sul e Sudeste. Verifique se o seu CEP é atendido.</div>
      <div class="group-cep">
        <p-inputMask [(ngModel)]="val" styleClass="input-cep" mask="99.999-999"></p-inputMask>
        <div class="btn cep">CEP</div>
      </div>
    </section> -->
    <section class="over-million">
      <div class="group-text">
        <div class="rotated">São milhares de produtos</div>
        <div class="">Compre tudo que você precisa, quantas vezes quiser, sem limite mínimo de compra, preços diferenciados
          para o cliente PRIME. Procure pelo selo
          <span class="prime-tag"><span class="prime-color">Prime</span></span> e aproveite os preços e fretes bonificados
        </div>

      </div>
      <div class="img">
        <img src="assets/img/tv-ps4.png" alt="">
      </div>
    </section>
    <section class="fast-shipping">
      <div class="img">
        <img src="assets/img/book-phone.png" alt="">
      </div>
      <div class="group-text">
        <div class="rotated">Entrega ainda mais rápida</div>
        <div class="desc">Milhares de produtos com selo PRIME que são vendidos pelo HubMix possuem entrega mais rápida. </div>
      </div>
    </section>
    <section class="be-prime">
      <div class="btn prime" routerLink="/prime/54">Quero ser PRIME</div>
      <div class="desc">Ao clicar em quero ser PRIME, você aceita os termos e condições do serviço.</div>
    </section>
    <section class="faq">
      <div class="cnt">
        <div class="rotated">Ficou com dúvidas? Veja as principais perguntas ou acesse nossa FAQ completa.</div>
        <div class="what-is">
          <div class="w-title">O que é HubMix PRIME? </div>
          <div class="desc">É um setor de fidelização de clientes que oferecem vantagens aos clientes exclusivos, oferecendo
            o melhor preço e frete, disponibilizados em milhares de produtos de centenas de fabricantes e empresas parceiras,
            garantido sempre qualidade, conforto e economia.</div>
        </div>
        <div class="what-is">
          <div class="w-title">Quais produtos posso comprar com BONIFICAÇÃO?</div>
          <div class="desc">Todos os produtos que tem o selo do PRIME possuem frete bonificado para clientes PRIME. São milhares
            de produtos para você comprar, inclusive milhares de produtos de nossas lojas parceiras.
          </div>
        </div>
        <div class="what-is">
          <div class="w-title">Quero ser cliente PRIME, o que devo fazer?</div>
          <div class="desc">Você pode assinar o HubMix PRIME através dessa página clicando em “Quero ser PRIME ou ao comprar
            um produto que tenha o selo PRIME. Nesse caso, basta selecionar a entrega PRIME na página de pagamento e confirmar
            sua assinatura. Seu frete será bonificado na próxima compra</div>
        </div>
        <div class="what-is">
          <div class="w-title">O frete bonificado do HubMix PRIME vale para todo o Brasil?</div>
          <div class="desc">O Frete bonificado é valido para todo Brasil, com exceção de algumas localidades de difícil entrega.
            Consulte pelo CEP para saber se sua área é atendida pelo benefício frete bonificado</div>
        </div>
        <div class="what-is">
          <div class="w-title">O que é frete bonificado?</div>
          <div class="desc">Ao efetuar sua primeira compra o valor do seu frete gasto dentro do mesmo mês será bonificado
            em 50% na sua próxima compra no mês seguinte. Já no segundo mês de compra o frete será bonificado em 75% no terceiro
            mês e a partir do quarto mês seu frete será bonificado em 100% com produtos de sua escolha Obs: Benefício válido
            somente para compras do mesmo fabricante
          </div>
        </div>
      </div>
    </section>
  </div>
</div>